body {
  text-align: center;
  background-color: #AFC8AD;
}

h1 {
  font-family: "Lora";
  font-size: 3rem;
}

.input-window{
  border: 2px solid black;
  border-radius: 10px;
  width: 50%;
  margin: auto;
}

.img{
  height:200px;
  width:200px;
  border: 5px solid black;
  display: block;
  margin: 3% auto;
}

.output-heading{
  font-size: 30px;
  font-family: "Oswald"
}

.output-txt{
  font-family: "Bree Serif";
  font-size:25px;
}

.loading{
  font-family: "Oswald";
  font-size: 20px;
}

.progress{
  position: relative;
  height: 10px;
  width: 10%;
  margin: auto;
  border: 10px solid #f4a261;
  border-radius: 15px;
}
.progress .color{
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear;    
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};

.file {
  
}

.file-input{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.file-input label {
  width: 200px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}


.btn-hover {
width: 200px;
height: 50px;
margin: 10px;
font-size: 16px;
float: left;
font-weight: 600;
color: #fff;
cursor: pointer;
text-align:center;
border: none;
background-size: 300% 100%;

border-radius: 50px;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

.btn-hover:hover {
background-position: 100% 0;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

.btn-hover:focus {
outline: none;
}

.btn-hover.color-1 {
background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.7rem;
  }

  .input-window{
    width: 90%;
    margin: auto;
  }

  .progress{
    width: 30%;
  }
}