<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lora:ital@1&family=Oswald:wght@500&family=Teko&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Genrative - Vision</h1>
    <img id="img" src="data:image/jpeg;base64,{{file_content_base64}}">
    <form action="/generateText" method="POST" enctype="multipart/form-data">
        <input type="file" onchange="display(event)" class="select-btn" name="fileImage">
        <input type="submit" class="btn">
    </form>
    <div class="output">
        <p class="output-heading">Output : </p>
        <p class="output-txt">{{output}}</p>
    </div>

    <script>
        function display(event)
        {
            var input = event.target;
            var reader = new FileReader();

            reader.onload = function () {
                var imgElement = document.getElementById('img');
                imgElement.src = reader.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    </script>
</body>
</html>